@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.font-poppins{
    font-family: "Poppins", serif;
}

*{
    padding: 0;
    margin: 0;
}

/* Shared Styles */






/* Navbar */
.navbar{
    max-width: 1440px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.items .item{
    list-style: none;
}
.item .link{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 500;
}
.icon{
    font-size: 1.4rem;
}

/* Banner */
.banner{
    max-width: 1440px ;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 135px;
}
.banner-text{
    max-width: 582px;

}
.banner-text .banner-title{
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
}
.banner-text .banner-desc{
    font-weight: 600;
    color: #3A3A3A;
    margin: 16px 0;
}
.banner-image{
    width: 475px;
    height: 475px;
    background: url("images/Circle\ design.svg");
}
.banner-image img{
    width: 100%;
}

.btn{
    font-size: 1rem;
    font-weight: 700;
    background-color: #E02C6D;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    color: white;
}

/* Main */
.logos{
    max-width: 1110px;
    height: 110px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border: 1px solid;
}
.section-title{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.card-section{
    max-width: 1050px;
    margin: 40px auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card{
    max-width: 300px;
    height: 475px;
    padding: 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 5px;
    gap: 16px;
}

.card-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
}
.price{
    font-size: 1.5rem;
}
.card-desc{
    width: 196px;
    font-size: .9rem;
    color: #787885;

}


.see-more{
    margin: 30px 10px 10px 930px;
    font-weight: 700;
    color: #E02C6D;
    font-size: 1rem;
    cursor: pointer;
}

